{% extends "layout.html" %}

{% block content %}

<div class="jumbotron bg-warning text-center">
    <h1>Meet The Team</h1>

    <div class="m-3">
        Kamyar Mojtahedi
    </div>

    <div class="m-3">
        Joseph Wong
    </div>

    <div class="m-3">
        Jordan Wong
    </div>

    <div class="m-3">
        Chen Peng
    </div>
</div>

<div class="jumbotron bg-warning text-center">
    <h1>Why?</h1>
    <p>We wanted to give people a place where they could easily find any resource they needed on a class. No more having to swap your attention between RateMyProf, the class catalog, and CourseHero. Now you can find it all on one easy site.</p>
</div>

{% endblock %}
