{% extends "layout.html" %}

{% block content %}

<h1 class="text-center m-5 text-warning" >Choose a class to view </h1>



<form action= "/Classes" method="post">


    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 101" class="btn btn-warning btn-lg "> CSE 101 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 102" class="btn btn-warning btn-lg "> CSE 102 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 103" class="btn btn-warning btn-lg "> CSE 103 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 104" class="btn btn-warning btn-lg "> CSE 104 </button>
            </div>
        </div>

        <div class="row ">

            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 120" class="btn btn-warning btn-lg "> CSE 120 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 130" class="btn btn-warning btn-lg "> CSE 130 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 180" class="btn btn-warning btn-lg "> CSE 180 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 181" class="btn btn-warning btn-lg "> CSE 181 </button>
            </div>

        </div>
        <div class="row ">

            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 183" class="btn btn-warning btn-lg "> CSE 183 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 140" class="btn btn-warning btn-lg "> CSE 140 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 144" class="btn btn-warning btn-lg "> CSE 144 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 150" class="btn btn-warning btn-lg "> CSE 150 </button>
            </div>

        </div>

        <div class="row ">

            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 160" class="btn btn-warning btn-lg "> CSE 160 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 111" class="btn btn-warning btn-lg "> CSE 111 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 112" class="btn btn-warning btn-lg "> CSE 112 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 115" class="btn btn-warning btn-lg "> CSE 115 </button>
            </div>


        </div>

        <div class="row ">

            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 160" class="btn btn-warning btn-lg "> CSE 160 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 111" class="btn btn-warning btn-lg "> CSE 111 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 112" class="btn btn-warning btn-lg "> CSE 112 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 115" class="btn btn-warning btn-lg "> CSE 115 </button>
            </div>


        </div>

        <div class="row ">

            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 160" class="btn btn-warning btn-lg "> CSE 160 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 111" class="btn btn-warning btn-lg "> CSE 111 </button>
            </div>
            <div class="col-md-3 mb-3 d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 112" class="btn btn-warning btn-lg "> CSE 112 </button>
            </div>
            <div class="col-md-3 mb-3  d-flex  justify-content-center">
                <button type="submit" name="classChoose" value="CSE 115" class="btn btn-warning btn-lg "> CSE 115 </button>
            </div>


        </div>

    </div>

</form>



    {% endblock %}
