{% extends "layout.html" %}

{% block content %}

<h1 class="text-center m-5 text-warning" >Choose a class to view </h1>



<form action="/Classes" method="post">

    <div class="container-fluid">
    {% for classRow in classes %}

        <div class="row">
        {% for class in classRow %}

            <div class="col-md-3 mb-3 d-flex justify-content-center">
                <button type="submit" name="classChoose" value="{{ class }}" class="btn btn-warning btn-lg"> {{ class }} </button>
            </div>

        {% endfor %}
        </div>

    {% endfor %}
    </div>

</form>
    
{% endblock %}
